/* src/style.css */
/* Styles for adflux-slot shadow root */

:host {
    opacity: 0;
    background-color: #b2dfdb;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

:host(.is-loaded),
:host(.is-error) {
    opacity: 1;
}

:host(.is-error)::after {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    content: '[AdFlux] Ad Load Error';
    background-color: #e0e0e0;
    color: #616161;
}

:host(.is-error) img {
    display: none;
}

img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
